<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="../public/css/style2.css">
    <!-- Impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container">
        <form id="frmClient" class="mt-2 row g-3">
            <!-- Buscar Cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchClient" maxlength="30" spellcheck="false">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="buscarCliente()">Buscar</button>
            </div>

            <!-- Linha -->
            <hr class="mt-4 border border-primary border -1">

            <!-- Id do Cliente (oculto)-->
            <input type="text" id="idClient">

            <!-- Nome -->
            <div class="col-md-6">
                <label for="inputNameClient" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNameClient" spellcheck="false" required maxlength="26">
            </div>

            <!-- CPF -->
            <div class="col-md-2">
                <label for="inputCPFClient" class="form-label">CPF</label>
                <input type="text" class="form-control" id="inputCPFClient" spellcheck="false" maxlength="15">
            </div>

            <!-- EMAIL -->
            <div class="col-md-4">
                <label for="inputEmailClient" class="form-label">Email</label>
                <input type="text" class="form-control" id="inputEmailClient" spellcheck="false" maxlength="60">
            </div>

            <!-- Telefone -->
            <div class="col-md-4">
                <label for="inputPhoneClient" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="inputPhoneClient" spellcheck="false" maxlength="15">
            </div>

            <!-- CEP -->
            <div class="col-md-2">
                <label for="inputCEPClient" class="form-label">CEP</label>
                <input type="text" class="form-control" id="inputCEPClient" spellcheck="false" maxlength="9"
                    onblur="buscarCEP()">
            </div>

            <!-- Logradouro -->
            <div class="col-md-5">
                <label for="inputAddressClient" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="inputAddressClient" spellcheck="false" required
                    maxlength="40">
            </div>

            <!-- Número -->
            <div class="col-md-1">
                <label for="inputNumberClient" class="form-label">Número</label>
                <input type="text" class="form-control" id="inputNumberClient" spellcheck="false" required
                    maxlength="6">
            </div>

            <!-- Complemento -->
            <div class="col-md-2">
                <label for="inputComplementClient" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="inputComplementClient" spellcheck="false" maxlength="15">
            </div>

            <!-- Bairro -->
            <div class="col-md-3">
                <label for="inputBairroClient" class="form-label">Bairro</label>
                <input type="text" class="form-control" id="inputBairroClient" spellcheck="false" maxlength="20">
            </div>

            <!-- Cidade -->
            <div class="col-md-3">
                <label for="inputCidadeClient" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="inputCidadeClient" spellcheck="false" maxlength="30">
            </div>

            <!-- UF -->
            <div class="col-md-2">
                <label for="inputUFClient" class="form-label">U.F</label>
                <select class="form-select" id="inputUFClient" name="uf">
                    <option value="">SELECIONE</option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>
            </div>

            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete" onclick="excluirCliente()">Excluir</button>
                <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>
            </div>

        </form>
    </div>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- renderizador -->
    <script src="rendererClientes.js"></script>

</body>

</html>