body {
    background-color: aliceblue;
}

/* Botão reset */
#btnReset {
    width: 24px;
    height: 24px;
    background-image: url(../img/vassoura.png);
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

/* Ocultar o campo Id do cliente */
#idClient {
    display: none;
}

/* lista de clientes vinculados a OS */
#viewListSuggestion {
    z-index: 2;
    max-width: 382px;
}